/*
 * Base resource configuration (executor-agnostic defaults)
 */

process {
    cpus   = 1
    memory = '4.GB'
    time   = '30.m'

    withName: 'PREPROCESS_DIAG' {
        memory = '16.GB'
        time   = '2.h'
    }
    withName: 'PREPROCESS_OTHER' {
        memory = '8.GB'
        time   = '1.h'
    }
    withName: 'BASIC_QUANTITATIVE' {
        memory = '8.GB'
        time   = '1.h'
    }
    withName: 'BASIC_CATEGORICAL' {
        memory = '8.GB'
        time   = '1.h'
    }
    withName: 'RISK_CLASSIFICATION' {
        memory = '4.GB'
        time   = '30.m'
    }
    withName: 'RESOLVE_CONFIG' {
        memory = '16.GB'
        time   = '30.m'
    }
}
