/*
 * LSF executor profile for HPC clusters
 */

process {
    executor       = 'lsf'
    // clusterOptions = '-q normal -G default'
    queue = 'your_queue_name'
    memory = '15GB'
    // container = '/path/to/pmbb-phenotyping.sif'

    withName: 'PREPROCESS_DIAG' {
        memory = '64.GB'
        time   = '4.h'
    }
    withName: 'PREPROCESS_OTHER' {
        memory = '8.GB'
        time   = '1.h'
    }
    withName: 'GATHER' {
        cpus   = 4
        memory = '64.GB'
        time   = '4.h'
    }
    withName: 'RISK_CLASSIFICATION' {
        memory = '32.GB'
        time   = '4.h'
    }
}
