params {
    biobank_config   = "${projectDir}/test_data/PMBB/pmbb_test_config.yaml"
    output_dir       = 'test_results'
    run_gather       = true
    gather_format    = 'wide'
    run_advanced_profiling  = false
    run_risk_classification = false
}

process {
    cpus   = 1
    memory = '2.GB'
    time   = '10.m'
}
